@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff'),
        url('fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    min-width: 300px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.card-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.card-author {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.card-pages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.card-read {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}