@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff'),
        url('fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

:root {
    --bg: #EFE7DD;
    --card-bg: #FFFFFF;
    --text: #4B3F35;
    --accent: #D97706;
    --accent-hover: #B45309;
    --border: #E2D4C6;
    --secondary: #A16207;
}

body {
    margin: 0;
    background-color: var(--bg);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg {
    width: 30px;
    height: auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>h1 {
    color: var(--text);
    letter-spacing: 2px;
    margin-left: 15px;
}

#add-book-btn {
    display: flex;
    min-width: 170px;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: var(--accent);
    color: var(--bg);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 15px;
}

#add-book-btn:hover {
    background-color: var(--accent-hover);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cardcontainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.card {
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    min-width: 350px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--text);
}


.book-cover-img {
    max-width: 125px;
    height: auto;
    border: solid 1px var(--text);
    border-radius: 6px;
}

.card-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.card-title {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

.card-author {
    font-size: 15px;
    font-weight: 400;
}

.card-pages {
    font-size: 15px;
}

.card-read {
    font-size: 15px;
}

.card-left {
    margin-left: 10px;
    margin-right: 10px;

}

.card-right {
    margin-right: 10px;
}

dialog {
    width: 350px;
    background-color: var(--bg);
    border: solid 1px var(--accent-hover);
    border-radius: 8px;
    color: var(--text);
    padding: 20px;
}

dialog::backdrop {
    background-color: var(--text);
    opacity: 0.5;
}

.dialogHeader {
    display: flex;
    justify-content: space-between;
}

#close-dialog {
    background-color: var(--bg);
    border: none;
}

.close-icon {
    width: 24px;
    height: auto;
    color: var(--accent);
}

.close-icon:hover {
    color: var(--accent-hover);
}

.dialogHeader>p {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

.dialogInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.dialogInput>label,
.readInput {
    font-size: 20px;
    font-weight: 500;
}

.dialogInput>input {
    border-radius: 6px;
    border: solid 2px var(--accent);
    font-size: 18px;
    padding: 5px;
    color: var(--text);
}

.dialogInput>input:focus {
    border-color: var(--accent-hover);
    outline: none;
}

.pagesInput {
    width: 50%;
}

#submitBtn {
    background-color: var(--accent);
    color: var(--bg);
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
}

#submitBtn:hover {
    background-color: var(--accent-hover);
}

.card-delete{
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
}
.card-delete > svg{
    color: var(--accent);
}

.card-delete > svg:hover{
    color: var(--accent-hover);
}