body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#card1 {
    border: 1px solid red;
    min-width: 300px;
}

#card2 {
    border: 1px solid red;
    min-width: 300px;
}

#card3 {
    border: 1px solid red;
    min-width: 300px;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.card-author {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.card-pages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.card-read {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}