@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff'),
        url('fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

:root {
    --bg: #EFE7DD;
    --card-bg: #FFFFFF;
    --text: #4B3F35;
    --accent: #D97706;
    --accent-hover: #B45309;
    --border: #E2D4C6;
    --secondary: #A16207;
}

body {
    margin: 0;
    background-color: var(--bg);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>h1 {
    color: var(--text);
    letter-spacing: 2px;
    margin-left: 15px;
}

#add-book-btn {
    border: none;
    background-color: var(--accent);
    color: var(--bg);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 15px;
}

#add-book-btn:hover{
    background-color: var(--accent-hover);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cardcontainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.card {
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    min-width: 350px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book-cover-img {
    max-width: 125px;
    height: auto;
}

.card-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.card-title {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

.card-author {
    font-size: 15px;
    font-weight: 400;
}

.card-pages {
    font-size: 15px;
}

.card-read {
    font-size: 15px;
}

.card-left {
    margin-left: 10px;
    margin-right: 10px;

}

.card-right {
    margin-right: 10px;
}