@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff'),
        url('fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 350px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book-cover-img {
    max-width: 125px;
    height: auto;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.card-title {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.card-author {
    align-content: center;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
}

.card-pages {
    align-content: center;
    font-size: 15px;
}

.card-read {
    align-content: center;
    font-size: 15px;
}

.card-left {
    margin-left: 10px;
    margin-right: 10px;
}

.card-right {
    margin-right: 10px;
}